#title-font{
  font-family: 'Satisfy', cursive;
}

#items{
  text-align: center;
  vertical-align: middle;
}

#banner{
  margin-top: 1rem;
  background-color: #333a42;
}

#banner-text{
  font-family: 'Satisfy';
  color: white;
}


.img{
  width: 150px;
  height: 150px;
}

.table-striped.table-hover>tbody>tr:hover>td, 
.table-striped.table-hover>tbody>tr:hover>th {
  background-color: #f9c6cb;
}

.table {
  align-items: center;
}