#title-font{
  font-family: 'Satisfy', cursive;
}

#footer{
  text-align: center;
  color: black;
}

#banner{
  height:5em;
  background-color: #333a42;
}

#img-principal{
  height:auto;
}

#total-factura{
  padding-left: 1em;
}

.text-producto{
  color: white;
}

#product-name{
  font-size: 200%;
  font-weight: bold;
}

.card{
  margin-top: 1em;
  margin-right: 1em;
}

#cards{
  padding: 1em;
}

#navbarNav{
  padding-left: 0.5em;
}

#cancel-button-modal,
#confirm-button-modal{
  display: block;
  float: left;
}